* {
box-sizing: border-box;
 
 
}
 
body{
    margin: 0;
    padding: 0;
}
 
section,header, footer{}
 


section{
    height: 100vh;
}
 
h1{
    text-align: center;
    margin: 0;
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}
h2,h3{
font-size: 36px;
}
 /*
.un{
    background-color: aquamarine;
}
 
.deux{
    background-color: orange;
}
.trois{
    background-color: rgb(21, 255, 0);
}
.quatre{
    background-color: rgb(89, 0, 255);
}
 
.cinq{
    background-color: rgb(255, 0, 0);
}
*/
 
body > div:nth-of-type(1){
    background-image: url(../image/pink.jpg);
}
 
body > div:nth-of-type(2){
    background-color: rgba(255, 244, 121, 0.911);
    /* background-image: url(../image/orange.webp); */
}
 
body > div:nth-of-type(3){
    background-color: rgb(252, 255, 102);
    /* background-image: url(../image/jaune.jpg); */
}
 
body > div:nth-of-type(4){
    background-color: rgb(143, 255, 121);
    /* background-image: url(../image/vert.jpg); */
}
 
body > div:nth-of-type(5){
    /* background-color: rgb(110, 214, 255); */
    background-image: url(../image/bleu.jpg);
}
 
 
body > div:nth-of-type(6){
    background-color: rgb(169, 93, 255);
     /* background-image: url(../image/violet.jpg); */
}
 
body > div:nth-of-type(7){
    background-color: rgb(57, 3, 119);
     /* background-image: url(../image/indigo.jpg); */
}
 
.centre{
    margin: 0 auto;
    max-width: 1100px;
    background-color: #ffffff3f;
}
 
 
/* //////////////////////////////////////////////////// la division .hero*/
 
.hero{
    background-image:url(../image/pink.jpg);
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}
 
.hero__barresup{
    background-color: #ffffff83;
   
}
 
.hero__titre{
    color: #2a6dff;
    font: 3rem;
}
 
.hero__logo{
   
}
 
.hero >.centre {
    background-color: #d64f9c59;
}
 
/* //////////////////////////////////////// menu*/
 
.hero__menu{
position: fixed;
width: 500px;
top: 20px;
right: 20px;
}
 
.hero__menu a{
    display: inline-block;
    padding: 5px 10 px;
    background-color: rgb(17, 0, 255);
    color: #fff;
    text-decoration: none;
 
}
 
 
.centre{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 30px;
}
 
/* //////////////////////////////////////////////////////////////// FORMULAIRE*/
 
.formulaire{}
 
 
 
 
.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.formulaire fieldset{
    margin: 30px 0 ;
    border: 1px dotted #00000025;
}
 
/* /////////////////////////////////////////////////////////////// BURGER*/
 
#chk-burger{
    display: none;
}
 
.navigation{
   position: fixed;
   top: 20px;
   right: 20px;
   text-align: right;
}

.burger{

}
 
.navigation__menu{
    margin-top : 20px;
     background-color: #000000bb;
       padding: 10px;
}
 
.navigation__menu a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    text-decoration: none;
    background-color: #ffffff1e;
    padding: 4px;
    margin: 5px;
    color: #fff;
    font-size: 2rem;
}
 
.navigation__bouton{}
 
 
.navigation__menu{
    display: none;
 
}
 
#chk-burger:checked ~ .navigation__menu{
    display: block;
}
 